{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation Page</title>
    <!-- Add any necessary CSS or JS links here -->
    <script src="{% static 'js/tablefilter.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/tablefilter.css'%}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Operation Page</h1>
    <input type="hidden" name="activity_id"> <!-- Example: Replace with actual data ID -->
    <!-- Delete Data Button -->
    <form id="deleteForm">
        <input type="text" name="show_id" placeholder="Show ID" required>
        <button type="button" onclick="deleteData()">Delete Data</button>
    </form>
    
    
    <!-- Modify Data Button -->
    <form id="modifyForm">
        <input type="text" name="show_id" placeholder="Show ID" required>
        <input type="text" name="price" placeholder="price" required>
        <button type="button" onclick="modifyData()">Modify Data</button>
    </form>

    <!-- Query Data Button -->
    <input type="text" name="input_id" placeholder="input id">
    <button type="button" onclick="queryData()">Query Data</button>
    <button type="button" onclick="resetTable()">Reset</button>

    
    <div id='table-container'>
        <table id="t1">
            <thead>
                <tr>
                    <th>id</th>
                    <th>UID</th>
                    <th>title</th>
                    <th>startDate</th>
                    <th>endDate</th>
                </tr>
            </thead>
            <tbody class="t1-body">
                {% for activity in Activities %}
                <tr>
                    <td>{{ activity.id }}</td>
                    <td>{{ activity.UID }}</td>
                    <td>{{ activity.title }}</td>
                    <td>{{ activity.startDate }}</td>
                    <td>{{ activity.endDate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    






    <!-- Script section for AJAX calls -->
    <script>
        // AJAX functions to interact with backend APIs

        // Function to delete data
        function deleteData() {
            let id = $('[name="activity_id"]').val();
            let show_id = $('#deleteForm').children().eq(0).val()

            $.ajax({
            type: 'POST', 
            url: '{% url "delete_data" %}',
            data: {'id': id, 'show_id': show_id, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            success: async function(data) {
                alert(data.message);
            },
            error: function(xhr, status, error) {
                if (xhr.status === 401) {
                    alert('Please log in');
                    // or redirect to login page
                    window.location.replace('/accounts/login/?next=' + window.location.href);
                }
            }
        });
        }

        // Function to modify data
        function modifyData() {
        let id = $('[name="activity_id"]').val();
        let show_id = $('#modifyForm').children().eq(0).val()
        let price = $('[name="price"]').val()
        $.ajax({
            type: 'POST', 
            url: '{% url "modify_data" %}',
            data: {'id': id, 'show_id': show_id, 'price':price, 'csrfmiddlewaretoken':'{{csrf_token}}'},
            success: async function(data) {
                alert(data.message);
            },
            error: function(xhr, status, error) {
                // 處理錯誤情況
                if (xhr.status === 401) {
                    alert('Please log in');
                    // or redirect to login page
                    window.location.replace('/accounts/login/?next=' + window.location.href);
                }
            }
        });
    };
    </script>
    <!-- TableFilter -->
    <script>
        function filter(FilterConfig){
        var tf = new TableFilter(document.querySelector('#t1'), FilterConfig);
        tf.init();
        }

        
        let FilterConfig = {
            alternate_rows: true,
            rows_counter: true,
            status_bar: true,
            paging: {
            results_per_page: ['Records: ', [10, 25, 50, 100, 200]]
            },

            
            headers_row_index: 0,
            filters_row_index: 1,		
            mark_active_columns: true,  
            col_widths: [
                "100px","250px", "750px", "200px",
                "200px"
            ],
            col_types: [
            'number','string', 'string', 
                { type: 'date', locale: 'en', format: ['{yyyy|yy}-{months}-{dd}'] },
                { type: 'date', locale: 'en', format: ['{yyyy|yy}-{months}-{dd}'] },
            ],
        }
        filter(FilterConfig)
    </script>

<script>
    const createTableFromObjectArray = (data, containerRef, tableRef) => {
        // elements
        let container = document.getElementById(containerRef);
        let table = document.createElement('table');
        table.setAttribute('id', tableRef);
        
        // clear the DOM if the table is already present
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        // create header
        let header = document.createElement('thead');
        let headerRow = document.createElement('tr');
        const colNames = Object.keys(data[0]);
        colNames.forEach(name => {
            let headerCell = document.createElement('th');
            let headerText = document.createTextNode(name);
            headerCell.appendChild(headerText);
            headerRow.append(headerCell);
        });
        header.appendChild(headerRow)
        table.appendChild(header);

        // add rows to table
        let tbody = document.createElement('tbody');
        data.forEach(doc => {
            let tbodyRow = document.createElement('tr');
            Object.values(doc).forEach(value => {
                let rowCell = document.createElement('td');
                let cellText = document.createTextNode(value);
                rowCell.appendChild(cellText);
                tbodyRow.appendChild(rowCell);
            });
            tbody.appendChild(tbodyRow);
        });
        table.appendChild(tbody);

        // add table to DOM and add filters
        container.appendChild(table);
    }

const renderTable = (data) => {
    const containerRef = 'table-container';
    const tableRef = 't1';
    createTableFromObjectArray(data, containerRef, tableRef);
}    
</script>

    <script>
    function resetTable(){
        window.location.reload()
    }



    // Function to query data
    // 點擊按鈕後觸發 Ajax 請求
    function queryData() {
        let id = $('[name="input_id"]').val()

        $.ajax({
            type: 'GET', 
            url: '{% url "query_data" %}',
            data: {'id': id},
            success: async function(data) {
                // 更新成功後更新資料表格
                var postsTableBody = $('.t1-body');
                postsTableBody.empty();  // 清空原有資料
                var postsTable = $('.t1');
                // postsTable.empty()
                // 逐個添加更新後的資料
                renderTable(data)
            
        
            let FilterConfig = {
                alternate_rows: true,
                rows_counter: true,
                status_bar: true,
                paging: {
                results_per_page: ['Records: ', [10, 25, 50, 100, 200]]
                },

                
                headers_row_index: 0,
                filters_row_index: 1,		
                mark_active_columns: true,  
                col_widths: [
                    "75px","250px","300px", "100px", "100px","200px","200px","200px","350px"
                ],
                col_types: [
                    'number','string','string',
                    ,'string', 'string', 
                    { type: 'date', locale: 'en', format: ['{yyyy|yy}-{months}-{dd}'] },
                    { type: 'date', locale: 'en', format: ['{yyyy|yy}-{months}-{dd}'] },
                    ,'string', 'string', 

                ],
            }
            await filter(FilterConfig);
            $('[name="activity_id"]').attr('value', id);
            },
            error: function(xhr, status, error) {
                // 處理錯誤情況
                console.error('Ajax request failed: ' + status + ', ' + error);
            }
        });
    };
    </script>




</body>
</html>
